.footer{
    width: 100%;
    
    height: 20px;
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;

    & .footer-context{
        width: 70%;
        margin: 0px auto;
        color: silver;
        font-size: 8px;
    }

}